body {
    font-family: 'Courier New', Courier, monospace;
    background-color: rgb(165 65 18 / 58%);
    /*
    background-image: url("../odin-links-and-images/images/beach.jpeg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; 
    max-width: 700px;*/
}

h1 {
    margin-left: 25%;
    margin-right: 25%;
    text-align: center;
    font-family: "Arial", "Verdana", sans-serif;
}

h1.main_title {
    font-size: 90px;
    margin-left: 0;
    margin-right: 0;
    padding-top: 10px;
}

.main-page_list {
    background-color: dimgray;
    margin: 20px;
    text-align: center;
    width: 75%;
}

.recipe_link {
    color: cyan;
    display: inline-block;
    margin-bottom: 40px;
    margin-top: 30px;
}
