body {
    font-family: 'Courier New', Courier, monospace;
    background-color: rgb(165 65 18 / 58%);
}

h1.main_title {
    font-size: 90px;
    margin-left: 0%;
    margin-right: 0%;
    text-align: center;
    font-family: "Arial", "Verdana", sans-serif;
}

#recipe_blocks {
    background-color: dimgray;
    border-radius: 50px;
    margin: auto;
    text-align: center;
    width:max-content;
    height: auto;
}

.flexbaby {
    display:flex;
    justify-content: center;
    align-items: center;
}
 
.recipe_link {
    color: cyan;
    font-size: 30px;
    flex:1;
    font-family: "fantasy", Arial, Helvetica, sans-serif;
}

a img {
    width: 240px;
    height: auto;
    flex:1;
    object-fit: fill;
}


