* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #5e5962;
    background-image: url("../images/background.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    height: 100vh;
    overflow: hidden;
}

.header {
    font-family: 'Ms Madi';
    font-size: 56px;
    font-weight: 700;
    color: #ff914d;
    position: absolute;
    left: 40%;
}

#menu {
    font-size: 28px;
    font-family: 'Times New Roman', Times, serif;
    color: #5e5962;
    position: fixed;
    top: 45%;
    left: 0;
    width: 280px;
    text-align: center;
    border-radius: 5px;
 }

 #menu #dropdownMenu {
    visibility: hidden;
    height: 0;
    opacity: 0;
 }

 #menu:hover #dropdownMenu {
    visibility: visible;
    background-color: #ff914d;
    height: 100%;
    opacity: 1;
    transition: opacity 2000ms linear;
}


#dropdownMenu div:hover {
    color: beige;
    box-shadow: 0 0 40px 0 #ff914d;
    transition: box-shadow 400ms, color 400ms;
 }

div:nth-child(2) {
    border-bottom-right-radius: 5px;
 }


 #magic {
    background-color: #ff914d;
    border-radius: 0px 5px 5px 0px;
 }

 #magic:hover {
    border-bottom-right-radius: 0px;
    color: beige;
    box-shadow: 0 0 30px 0 #ff914d;
    transition: box-shadow 400ms, color 400ms;
 }


footer {
    text-align: center;
    background-color: #ff914d;
    color: #5e5962;
    font-weight: bolder;
    font-size: 16px;
    font-family: 'Courier New', Courier, monospace;
    padding-top: 12px;
    padding-bottom: 12px;
    width: 100%;
    position: fixed;
    bottom: 0;
}

ul {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

li {
    list-style: none;
}
