html {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    background-color: grey;
}

.block {
    display: flex;
    gap: 100px;
}

.container {
    display: flex;  
    align-items: center;
    justify-content: center;
}

.description {
    flex: 1;
    display: flex;
    flex-direction: column;
    background-color: #cfe0e8;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 50px;
    padding-top: 50px;
}

#title {
    font-size: 34px;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
    text-decoration: none;
}

.footer {
    flex: 0;
    text-align: center;
    background-color: black;
    color: white;
    font-weight: bolder;
    font-size: 16px;
    font-family: 'fantasia';
    padding-top: 15px;
    padding-bottom: 15px;
}

.ingredients {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 5px;
    background-color: #878f99; 
    padding-top: 50px;
    padding-left: 50px;
    padding-right: 50px;  
    padding-bottom: 50px; 
}

.menu {
    flex: 1;
    max-width: 260px;
    background-color: grey;
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: fit-content;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    border-right: solid;
    align-self: center;
}

.page {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding-left: 150px;
    padding-right: 150px;
}

.steps {
    flex:1;
    background-color:  #c0ded9;
    padding-top: 50px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 50px;
}

.title,
.description_text .title {
    font-weight: bold;
    text-decoration: underline;
    font-size: 18px;
}

ol {
    display: flex;
    flex-direction: column;
    gap: 5px;
}
