body {
    font-family: 'Courier New', Courier, monospace;
    background-color: rgb(165 65 18 / 58%);
}

h1 {
    text-align: center;
}

.page {
    display: flex;
    gap: 15px;
}

.menu {
    display: flex;
    border: solid;
    flex-direction: column;
    gap: 10px;

    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
}

.menu div {

}

.blocks {
    display: flex;
    flex-direction: column;
    /**flex: 1;**/
    gap: 20px;
}

.description_block {
    display: flex;
    gap: 30px;
}

.description_block img {
    max-width: 300px;  
}

.description_block .description_text { 
    border: solid;
}

.description_text h4 {
    text-align: center;
}

.ingredients h4 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: large;
    text-align: center;
}

.ingredients {
    border: solid;
}

.steps h4 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: large;
    text-align: center;
}

.steps {
    border: solid;
}

ul li {
    margin-bottom: 3px;
}

ol li {
    margin-bottom: 20px;
}