html {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.block {
    display: flex;
    gap: 100px;
}

.container {
    display: flex;
}

.description {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding-bottom: 100px;
}

.description .title {
    font-size: 34px;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 50px;
}

.footer {
    flex: 0;
    text-align: center;
    background-color: black;
    color: white;
    font-weight: bolder;
    font-size: 16px;
    font-family: 'fantasia';
    padding-top: 30px;
    padding-bottom: 30px;
}

.ingredients {
    flex: 1;
    padding-bottom: 100px;
}

.menu {
    flex: 1;
    max-width: 260px;
    background-color: grey;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
}

.page {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding-left: 150px;
    padding-right: 150px;
}

.steps {
    flex:1;
    padding-bottom: 50px;
}

.title,
.description_text .title {
    font-weight: bold;
    text-decoration: underline;
    font-size: 18px;
}

